URL=https://example.com  # Replace with your desired URL
MONGODB_URL=mongodb://admin:xxxx@yourdb:27017/  # Replace with your MongoDB connection URL
DATABASE_NAME=dbname # Replace with your database name
COLLECTION_NAME=coll # Replace with your collection name
QUERY_FILENAME=mongodb_query.json  # Replace with your query file name
OUTPUT_FILENAME=query_response.json  # Replace with your desired file name
AUTH_CLIENT=dcm4chee-arc
AUTH_TOKEN=xxxxx


